# Python / venv
.venv/
venv/
env/
.venv/
*.pyc
__pycache__/

# Django
db.sqlite3
/staticfiles/
media/
*.log

# IDEs / OS
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# pip
pip-wheel-metadata/
*.egg-info/

# Pytest / coverage
htmlcov/
.coverage
